<h1>Job Postings</h1>

<% @postings.each do |posting| %>
  <div>
    <p><%= link_to posting.title, posting_path(posting.id)%></p>
    <p><%=posting.company%></p>
    <p><%=posting.location%></p>
  </div>
<% end %>
